@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

.nav-bar-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 1px 10px 8px #888888;
    background: #FFFFFF;
}

.logo h1{
    color: #323232;
    font-size: 3.5rem;
    font-weight: bolder;
    display: inline;
}

.logo i{
    color: #7900FF;
    font-size: 3.5rem;
}

.links-list{
    padding: 5px;
}

.links-list a{
    font-size: 2.0rem;
    border-radius: .5rem;
    padding: 5rem 1.5rem;
    color: #323232;
    margin-top: 5px;
    margin-bottom: 5px;
}

.links-list a:hover{
    color: #FFFFFF;
    background-color: #7900FF;
}
.links-list .active{
    color: #FFFFFF;
    background-color: #7900FF;
}

.icons-list i, .icons-list a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 2.0rem;
    color: #323232;
    border-radius: 50%;
    background-color: #888888;
}

.icons-list i:hover, .icons-list a:hover{
    color: #FFFFFF;
    background-color: #7900FF;
    transform: rotate(360deg);
}

.icons-list #menu-bars{
    display: none;
}

.search-form button{
    background: none;
}
.search-form{
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: #090910;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    padding: 0 1rem;
}

.search-form #search-box{
    width: 50rem;
    border-bottom: 2px solid #FFFFFF;
    padding: 1rem 0;
    color: #FFFFFF;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

.search-form #search-box::placeholder{
    color: #888888;
}

.search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;

}

.search-form label{
    color: #FFFFFF;
    cursor: pointer;
    font-size: 3rem;
}

.search-form label:hover{
    color: #7900FF;
}

.search-form #close{
    position: absolute;
    color: #FFFFFF;
    cursor: pointer;
    top: 2rem;
    right: 2rem;
    font-size: 5rem;
}

section{
    padding: 2rem 9%;
}

section:nth-child(even){
    background-color: #F0F8FF;
}

.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}

.home .home-slider .slide .content{
    flex: 1 1 45rem;
}

.home .home-slider .slide .content{
    flex: 1 1 45rem;
}

.home .home-slider .slide .content img{
    width: 100%;
}

.home .home-slider .slide .content span{
    color: #7900FF;
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3{
    color: #323232;
    font-size: 7rem;
}

.home .home-slider .slide .content p{
    color: #888888;
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.the-btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #FFFFFF;
    background: #323232;
    border-radius: 5rem;
    cursor: pointer;
    padding: 3rem 8rem;
}

.the-btn:hover{
    background: #7900FF;
    letter-spacing: .5rem;
}